node_modules
lib
client/node_modules
client/dist
client/.vite
client/public
client/src/game
client/src/pages
client/src/components
client/src/contexts
client/src/stores
client/src/styles
client/src/__tests__
client/src/main.tsx
client/src/App.tsx
client/.env
client/.env.*
.env
.env.*
*.md
*.log
.git
.gitignore
loadtest
